{% extends "base_template.html" %}

{% block conteudo %}

    <div class="row">
        <a class="btn btn-danger" href="{% url 'home' %}">Home</a>
        {% if message %}
            {{message}}
        {% endif %}

        <div class="col-sm-6">
            <form method="POST" action="{% url 'game_correct' option.id %}">
                {% csrf_token %}
                {{option.original_text}}<br>
                <input type="text" id='answer' name="answer" autofocus>
                <button type="submit" class="btn btn-info">Test</button>
            </form>
        </div>

    </div>

{% endblock %}

