<div class="row">
	<div class="panel panel-default">
	      <div class="panel-heading">Words Unlocked</div>

	      <table class="table">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Word</th>
	            <th>Translatte</th>
	          </tr>
	        </thead>
	        <tbody>
	            {% for word in list_words %}
		          <tr>
		            <td>{{word.id}}</td>
		            <td>{{word.original_text}}</td>
		            <td>{{word.translate_text}}</td>
		          </tr>
		{% endfor %}
	        </tbody>
	      </table>
	 </div>
 </div>